<h1><%= l(:status_change_email_title) %></h1>

<table id="status-change-emails" class="list">
  <thead>
    <tr>
      <th><%= l(:label_issue_status) %></th>
      <th><%= l(:field_author) %></th>
      <th><%= l(:field_watcher) %></th>
      <th><%= l(:field_assigned_to) %></th>
      <th><%= l(:status_change_email_extra_content) %></th>
    </tr>
  </thead>
  <tbody>
    <% @issue_statuses.each do |status| %>
      <tr id="status-<%= h(status.id) %>" class="<%= cycle("odd","even") %>">
        <td><%= h(status.name) %></td>
        <td align="center">X</td>
        <td align="center">X</td>
        <td align="center">X</td>
        <td>CONTENT</td>
      </tr>
      
    <% end %>
  </tbody>
</table>

<% html_title(l(:status_change_email_title)) %>
